body {
	padding: 0px 15px; font-family: "Lato",Helvetica,Arial,sans-serif; font-size: 16px;
}
body a {
	color: rgb(19, 87, 139);
}
.container-fluid {
	max-width: 1312px;
}
.header {
	padding: 0.75em 0px; margin-top: 32px; white-space: nowrap; background-color: rgb(246, 246, 246);
}
.header .logo img {
	width: 287px; height: 50px; padding-right: 40px; margin-left: 3.12em;
}
.header ul {
	list-style: none; padding: 0px; height: 50px;
}
.header ul li {
	margin-top: 1em; margin-right: 1em; margin-left: 0em; display: inline-block;
}
.header .search-form {
	min-width: 387px;
}
.header form {
	margin-top: 0.7em; margin-left: 0px; position: relative;
}
.header form label {
	padding-right: 16px; font-weight: normal;
}
.header form input {
	
}
.header form button {
	background: rgb(120, 186, 0); border-radius: 0px; width: 0px; color: rgb(0, 0, 0);
}
.header form button::before {
	background: inherit; color: inherit; line-height: 1; padding-right: 0px; padding-left: 0px; font-family: FontAwesome; font-size: 18px; font-style: normal; font-weight: normal; text-decoration: inherit; display: inline-block; content: "\f002"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.breadcrumbs {
	color: rgb(255, 255, 255); background-color: rgb(0, 126, 177);
}
.breadcrumbs ul {
	list-style: none; margin: 16px 0px;
}
.breadcrumbs ul li {
	padding: 8px 8px 8px 0px; font-size: 17px; display: inline-block;
}
.breadcrumbs ul li::before {
	background: inherit; color: inherit; line-height: 1; padding-right: 0.4rem; font-family: FontAwesome; font-size: 11px; font-style: normal; font-weight: normal; text-decoration: inherit; display: inline-block; content: "\f054"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.breadcrumbs ul li.nav-home {
	padding: 8px;
}
.breadcrumbs ul li.nav-home::before {
	background: inherit; color: rgb(255, 255, 255); line-height: 1.05; padding-right: 0.7rem; font-family: FontAwesome; font-size: 22px; font-style: normal; font-weight: normal; text-decoration: inherit; display: inline-block; content: "\f19c"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.breadcrumbs ul li a {
	color: rgb(255, 255, 255);
}
.breadcrumbs ul li.last-child {
	font-weight: bold;
}
.nav-section {
	padding: 1px 0px 0px; background-color: rgb(246, 246, 246);
}
.nav-section h2 {
	padding-left: 2.5em; font-size: 21px; font-weight: 900; margin-top: 2em; margin-bottom: 0px;
}
.nav-section ul {
	list-style: none; padding: 0px; text-align: left; margin-top: 1.2em;
}
.nav-section ul li {
	margin: 0px; padding: 0.6em 0.7em 0.7em 3.7em; position: relative;
}
.nav-section ul li::before {
	background: inherit; top: 1.4em; color: rgb(19, 87, 139); line-height: 1; padding-right: 0.5rem; font-family: FontAwesome; font-size: 11px; font-style: normal; font-weight: normal; text-decoration: inherit; display: inline-block; position: absolute; content: "\f054"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.nav-section ul li.current-page::before {
	color: rgb(255, 255, 255);
}
.nav-section ul li a {
	background: none; margin: 0px 0px 0px 1em; padding: 0px; color: rgb(19, 87, 139); font-size: 14px; font-weight: 700; display: inline-block;
}
.nav-section ul li.current-page {
	background-color: rgb(0, 126, 177);
}
.nav-section ul li.current-page a {
	color: rgb(255, 255, 255);
}
.content-section {
	padding: 1.25em 0px 20px; margin-right: 3.12em; margin-left: 3.12em;
}
.content-section h1 {
	font-size: 26px;
}
.content-section h2 {
	font-size: 21px;
}
.content-section h3 {
	font-size: 19px;
}
.content-section h1 {
	margin: 0.5em -0.4em 0.3em; padding: 0.5em 0.4em 0.3em; color: rgb(0, 0, 0); line-height: 1.1; letter-spacing: 0.01em; clear: left; font-family: "Lato",Helvetica,Arial,sans-serif; font-weight: 900;
}
.content-section h2 {
	margin: 0.5em -0.4em 0.3em; padding: 0.5em 0.4em 0.3em; color: rgb(0, 0, 0); line-height: 1.1; letter-spacing: 0.01em; clear: left; font-family: "Lato",Helvetica,Arial,sans-serif; font-weight: 900;
}
.content-section h3 {
	margin: 0.5em -0.4em 0.3em; padding: 0.5em 0.4em 0.3em; color: rgb(0, 0, 0); line-height: 1.1; letter-spacing: 0.01em; clear: left; font-family: "Lato",Helvetica,Arial,sans-serif; font-weight: 900;
}
.content-section h4 {
	margin: 0.5em -0.4em 0.3em; padding: 0.5em 0.4em 0.3em; color: rgb(0, 0, 0); line-height: 1.1; letter-spacing: 0.01em; clear: left; font-family: "Lato",Helvetica,Arial,sans-serif; font-weight: 900;
}
.right-section {
	padding-top: 0px !important; padding-right: 0px; margin-top: -10px;
}
.right-section h2 {
	color: rgb(19, 87, 139); font-size: 1.4em; font-weight: 700; margin-top: 0.5em;
}
.right-section .do-it-online {
	background: rgb(242, 247, 249); padding: 1.37em !important; border-bottom-color: rgb(225, 236, 241); border-bottom-width: 1px; border-bottom-style: solid;
}
.right-section ul {
	padding: 0px 0px 0px 2em; display: block; list-style-type: disc; list-style-position: outside;
}
.right-section ul li {
	display: list-item;
}
.right-section .contact {
	background: rgb(231, 245, 254); padding: 1.37em !important; border-bottom-color: rgb(207, 235, 253); border-bottom-width: 1px; border-bottom-style: solid;
}
.right-section .contact h2::before {
	background: inherit; color: rgb(120, 186, 0); line-height: 1; padding-right: 0.8rem; font-family: FontAwesome; font-size: 2rem; font-style: normal; font-weight: normal; text-decoration: inherit; display: inline-block; content: "\f095"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.aside {
	background: rgb(242, 247, 249); padding: 1.37em !important; font-size: 0.9em; border-bottom-color: rgb(225, 236, 241); border-bottom-width: 1px; border-bottom-style: solid;
}
.aside a {
	text-decoration: underline !important;
}
.social {
	padding: 28px 26px 28px 38px; color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(0, 126, 177);
}
.social p {
	margin-bottom: 0px;
}
.social .btn {
	background: rgb(0, 83, 117); padding: 0.2em 1em; border-radius: 1.5em; border: currentColor; transition:0.3s; border-image: none; text-align: center; color: rgb(255, 255, 255); font-size: 16px; margin-left: 16px; -webkit-transition: all ease 0.3s;
}
.social .btn:hover {
	background: rgb(11, 46, 76);
}
.social .btn:focus {
	background: rgb(11, 46, 76);
}
.social .sharelinks {
	text-align: right;
}
.social a:hover {
	text-decoration: none;
}
.social a:focus {
	text-decoration: none;
}
.social .facebook::before {
	background: inherit; color: white; line-height: 1; padding-right: 0px; font-family: FontAwesome; font-size: 22px; font-style: normal; font-weight: normal; text-decoration: inherit; margin-left: 16px; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.social .twitter::before {
	background: inherit; color: white; line-height: 1; padding-right: 0px; font-family: FontAwesome; font-size: 22px; font-style: normal; font-weight: normal; text-decoration: inherit; margin-left: 16px; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.social .linkedin::before {
	background: inherit; color: white; line-height: 1; padding-right: 0px; font-family: FontAwesome; font-size: 22px; font-style: normal; font-weight: normal; text-decoration: inherit; margin-left: 16px; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.social .share::before {
	background: inherit; color: white; line-height: 1; padding-right: 0px; font-family: FontAwesome; font-size: 22px; font-style: normal; font-weight: normal; text-decoration: inherit; margin-left: 16px; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.social .facebook::before {
	content: "\f09a";
}
.social .twitter::before {
	content: "\f099";
}
.social .linkedin::before {
	content: "\f0e1";
}
.social .share::before {
	content: "\f1e0";
}
.footer {
	padding: 1em 1em 2em; color: rgb(0, 0, 0); background-color: rgb(11, 46, 76);
}
.footer h3 {
	margin-top: 0px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.footer h3 a {
	margin: 0.5em 0px; width: 100%; color: rgb(255, 255, 255); font-size: 21px; font-weight: 700; display: inline-block;
}
.footer .col-md-4 ul {
	width: 50%;
}
.footer .first ul {
	margin-left: 20px;
}
.footer .first h3 {
	margin-left: 20px;
}
.footer ul {
	list-style: none; padding: 0px; float: left;
}
.footer ul li {
	margin: 0.5em 0px;
}
.footer ul li a {
	color: rgb(255, 255, 255); font-size: 13px; font-weight: 700;
}
.tail {
	padding: 1em; text-align: center; font-size: 13px; font-weight: 700;
}
.tail ul {
	list-style: none;
}
.tail ul li {
	display: inline;
}
.tail ul li a {
	padding: 0em 0.5em; color: rgb(0, 0, 0); font-size: 13px; font-weight: 700; border-left-color: rgb(0, 0, 0); border-left-width: 1px; border-left-style: solid;
}
.tail ul li.nav-contact a {
	border: currentColor; border-image: none;
}
.sq_question_wrapper ul {
	padding-left: 0px; list-style-type: none;
}
.sq-form-question ul {
	list-style: none; margin: 0px; padding: 0px;
}
.sq-form-question legend {
	padding-top: 1em;
}
.sq-form-section legend {
	padding-top: 1em;
}
form table ul {
	padding-left: 0px; list-style-type: none;
}
.sq-form-required-field {
	color: red;
}
@media print
{
.header {
	display: none;
}
.breadcrumbs {
	display: none;
}
.nav-section {
	display: none;
}
.footer {
	display: none;
}
.tail {
	display: none;
}
.social {
	display: none;
}
.aside {
	display: none;
}
body {
	background: none; color: rgb(0, 0, 0); line-height: 1.5; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 10pt;
}
ul {
	page-break-inside: avoid;
}
img {
	page-break-inside: avoid;
}
article a {
	font-weight: bolder; text-decoration: none;
}
}
@media not all
{
.header .search-form {
	padding-top: 2px; min-width: inherit;
}
.header .logo img {
	margin-left: 0px;
}
.header ul li {
	display: block;
}
}
