<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title DataCaptureTool</title>

    @Styles.Render("~/Content/css")

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <SCRIPT src="~/Scripts/lib/jquery-3.2.1.min.js" type="text/javascript" data-bind-filename="jquery.min.js"></SCRIPT>
    <SCRIPT src="~/Scripts/lib/underscore.js" type="text/javascript" data-bind-filename="underscore.js"></SCRIPT>
    <SCRIPT src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="~/Scripts/lib/knockout-3.4.2.js" type="text/javascript" data-bind-filename="knockout-3.4.2.js"></SCRIPT>
    <SCRIPT src="~/Scripts/lib/bootstrap.min.js" type="text/javascript" data-bind-filename="bootstrap.min.js"></SCRIPT>
    <SCRIPT src="~/Scripts/lib/typeahead.bundle.js" type="text/javascript" data-bind-filename="typeahead.bundle.js"></SCRIPT>
    <SCRIPT src="~/Scripts/lib/leaflet.js" data-bind-filename="leaflet.js"></SCRIPT>
    <SCRIPT src="~/Scripts/lib/esri-leaflet-2.0.8.js"></SCRIPT>
    <SCRIPT type="text/javascript" src="~/Scripts/SpatialDataCaptureToolUtils.js"></SCRIPT>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
