<div id="#searchComponent">
    <center><h1>HOST FORM</h1></center>
    <form>
        <h3>Host fields</h3>
        <DIV class="form-group">
            <LABEL class="col-md-3" for="address">Address</LABEL>
            <DIV class="col-md-9">
                <INPUT type="text" class="form-control" data-bind="init:$root.address, value: $root.address"
                       id="address" name="address" />
            </DIV>
            <LABEL class="col-md-3" for="lot">Lot</LABEL>
            <DIV class="col-md-9">
                <INPUT type="text" class="form-control" data-bind="init:$root.lot, value: $data.lot"
                       name="lot" id="lot" />
            </DIV>
            <LABEL class="col-md-3" for="plan">Plan</LABEL>
            <DIV class="col-md-9">
                <INPUT type="text" class="form-control" data-bind="init:$root.plan, value: $data.plan"
                       name="plan" id="plan" />
            </DIV>
            <LABEL class="col-md-3" for="points">Points</LABEL>
            <DIV class="col-md-9">
                <INPUT type="text" id="points" class="form-control" data-bind="init:$root.points, value: $data.points"
                       name="points" />
            </DIV>
        </DIV>
        <input type="submit" value="Download" onclick="saveTextAsFile()" />
    </form>
    <hr>
    <!--Spatial data capture tool inserted as knockout component in host form-->
    <spatialDataCaptureTool id="myComponent" data-template-file='@Url.Content("~/Content/templates/SpatialDataCaptureTool.html")'></spatialDataCaptureTool>
    <hr />
</div>

<script type="text/javascript">

    function saveTextAsFile() {
        var textToWrite = "Address: " + $("#address").val()
        textToWrite += "<br>Lot: " + $("#lot").val()
        textToWrite += "<br>Plan: " + $("#plan").val()
        textToWrite += "<br>Multipoint: " + $("#points").val()

        var textFileAsBlob = new Blob([textToWrite], { type: 'text/html' });
        var downloadLink = document.createElement("a");
        downloadLink.download = "data.html";
        if (window.webkitURL != null) {
            downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
        }
        else {
            // Firefox requires the link to be added to the DOM
            // before it can be clicked.
            downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
            downloadLink.onclick = destroyClickedElement;
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
        }

        downloadLink.click();
    }


        //---------------------------------------------------------
        // Load host fields test start      
        //$("#address").val("37 Boundary Street South Brisbane QLD (Brisbane City)");
        //$("#points").val("MULTIPOINT((-27.473688755121273, 153.01316656172276), (-27.47384343661422, 153.01305659115312))");
        $("#lot").val("8")
        $("#plan").val("RP716599");
        $("#points").val("MULTIPOINT((-19.298068311704792, 146.77623369862886), (-19.298220201712716, 146.7758260028586))");

        // Load host fields test end
        //---------------------------------------------------------

</script>

<script type="text/javascript" src="~/Scripts/SpatialDataCaptureTool.js?@{@DateTime.Now.ToString()}"></script>
