<div id="#searchComponent">
    <form>
        <DIV class="form-group">
            <LABEL class="col-md-3" for="address">Address</LABEL>
            <DIV class="col-md-9">
                <INPUT type="text" class="form-control" data-bind="init:$root.address, value: $root.address"
                       name="address" value="" />
                <!--INPUT type="text" class="form-control" data-bind="init:$root.address, value: $root.address"
                       name="address" value="37 Boundary Street South Brisbane QLD (Brisbane City)" /-->
            </DIV>
            <LABEL class="col-md-3" for="lot">Lot</LABEL>
            <DIV class="col-md-9">
                <INPUT type="text" class="form-control" data-bind="init:$root.lot, value: $data.lot"
                       name="lot" value="8" />
            </DIV>
            <LABEL class="col-md-3" for="plan">Plan</LABEL>
            <DIV class="col-md-9">
                <INPUT type="text" class="form-control" data-bind="init:$root.plan, value: $data.plan"
                       name="lotplan" value="RP716599" />
            </DIV>
            <LABEL class="col-md-3" for="address_multipoints">Address Points</LABEL>
            <DIV class="col-md-9">
                <INPUT type="text" class="form-control" data-bind="init:$root.addressPoints, value: $data.addressPoints"
                       name="address_multipoints" value="MULTIPOINT((-27.47388755426465, 153.0130237340927), (-27.473642443588776, 153.01324903964996))" />
            </DIV>
            <LABEL class="col-md-3" for="lotplan_multipoints">Lotplan points</LABEL>
            <DIV class="col-md-9">
                <INPUT type="text" class="form-control" data-bind="init:$root.lotPlanPoints, value: $data.lotplanPoints"
                       name="lotplan_multipoints" />
            </DIV>
        </DIV>
        <input type="submit" value="Download" onclick="saveTextAsFile()" />
    </form>
    <hr>
    <searchComponent data-template-file='@Url.Content("~/Content/templates/searchComponent.html")'></searchComponent>
    <hr />
</div>
<script type="text/javascript" src="~/Scripts/searchComponent.js?@{@DateTime.Now.ToString()}"></script>

<script type="text/javascript">
    function saveTextAsFile() {
        var textToWrite = "Address: " + $("#address1").val()
        textToWrite += "<br>Multipoint: " + $("#address_multipoints1").val()
        textToWrite += "<br>LotPlan: " + $("#lotplan1").val()
        textToWrite += "<br>Multipoint: " + $("#lotplan_multipoints1").val()

        var textFileAsBlob = new Blob([textToWrite], { type: 'text/html' });
        var downloadLink = document.createElement("a");
        downloadLink.download = "data.html";
        if (window.webkitURL != null) {
            downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
        }
        else {
            // Firefox requires the link to be added to the DOM
            // before it can be clicked.
            downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
            downloadLink.onclick = destroyClickedElement;
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
        }

        downloadLink.click();
    }
</script>