<DIV id="contents">             
		<DIV class="panel-group search_accordian" id="search_accordian" role="tablist" aria-multiselectable="false">
			<DIV class="panel panel-default">
				<DIV class="panel-heading" id="address_heading" role="tab" aria-expanded="true" aria-controls="address_tab" href="#address_tab" data-toggle="collapse" data-parent="search_accordian">
					<H4 class="panel-title">Search by address</H4>
				</DIV>
				<DIV class="panel-collapse collapse in" id="address_tab" role="tabpanel" aria-LABELledby="address_heading">
					<DIV class="panel-body">
						<addresssearchfields params="">
															<!-- Address search -->
							<FORM class="form-horizontal" method="post" id="address_search" data-bind="submit: $data.makeAddressSearch">
								<DIV class="form-group">
									<LABEL class="col-md-3" for="address_search_address">Address</LABEL>
									<DIV class="col-md-9">
										<INPUT type="text" class="form-control" id="address_search_address"
											   name="address_search_address" placeholder="Type an address" autocomplete="off" />
									</DIV>
								</DIV>
								<DIV class="form-group">
									<DIV class="col-sm-offset-3 col-sm-9">
										<DIV class="alert hidden" role="alert">
											<!-- filled by js on error or warning -->
										</DIV>
										<INPUT type="SUBMIT" value="Search" class="btn btn-success">
										<INPUT type="BUTTON" value="Reset" class="btn btn-default reset"
											   data-bind="click: $data.resetAddressSearch">
										<!-- ko if: loading() -->
										<IMG src="images/loading.gif" alt="Loading" class="loading"/>
										<!-- /ko -->
									</DIV>
								</DIV>
								<!-- ko if: isError() -->
								  <DIV class="alert alert-danger col-md-12" role="alert">
								<P>We can&#39;t find any results for &#34;<SPAN data-bind="text: $data.searchText()"></SPAN>&#34;. Please check the format (e.g. Street not St) or try a different search.</P>
								<P>If you believe the address is correct, the property you are searching for may not be in our listings yet. <A href="mailto:propertysearch@dnrm.qld.gov.au?subject=PaTs%20-%20enquiry">Contact us</A> for assistance.</P>
								</DIV>
								<!-- /ko -->
							</FORM>
						</addresssearchfields>    
					</DIV>
				</DIV>
			</DIV>
			<DIV class="panel panel-default">
				<DIV class="panel-heading collapsed" id="plan_heading" role="tab" aria-expanded="true" aria-controls="lot_plan_tab" href="#lot_plan_tab" data-toggle="collapse" data-parent="#search_accordian">
					<H4 class="panel-title">Search by lot on plan</H4>
				</DIV>
				<DIV class="panel-collapse collapse" id="lot_plan_tab" role="tabpanel" aria-LABELledby="plan_heading">
					<DIV class="panel-body">
						<lotplansearchfields params="">
							<FORM class="form-horizontal" method="post" id="lot_plan_search" data-bind="submit: $data.makeLotPlanSearch">
								<DIV class="form-group">
									<LABEL class="col-md-3" for="lot_plan_search_lotno">Lot number</LABEL>
									<DIV class="col-md-9">
										<INPUT type="text" class="form-control" id="lot_plan_search_lotno" name="lot_plan_search_lotno" placeholder="For example: 2" autocomplete="off"/>
									</DIV>
								</DIV>
								<DIV class="form-group">
									<LABEL class="col-md-3" for="lot_plan_search_planno">Plan number</LABEL>
									<DIV class="col-md-9">
										<INPUT type="text" class="form-control" id="lot_plan_search_planno" name="lot_plan_search_planno" placeholder="For example: RP43986" autocomplete="off"/>
									</DIV>
								</DIV>
								<DIV class="form-group">
									<DIV class="col-sm-offset-3 col-sm-9">
										<DIV class="alert hidden" role="alert">
											<!-- filled by js on error or warning -->
										</DIV>
										<INPUT type="submit" value="Search" class="btn btn-success">
										<INPUT type="BUTTON" value="Reset" class="btn btn-default reset"
											   data-bind="click: $data.resetLotPlanSearch">
										<!-- ko if: loading() -->
										<IMG src="images/loading.gif" alt="Loading" class="loading"/>
										<!-- /ko -->
									</DIV>
								</DIV>
								<!-- ko if: isError() -->
								<DIV class="alert alert-danger col-md-12" role="alert">
									<P>We can&#39;t find any results for &#34;<SPAN data-bind="text: $data.searchLot()"></SPAN>&#34; and &#34;<SPAN data-bind="text: $data.searchPlan()"></SPAN>&#34;. Please check what you&#39;ve entered, or try a different search.</P>
									<P>If you believe the address is correct, the property you are searching for may not be in our listings yet. Contact a <A href="https://www.dnrm.qld.gov.au/our-department/contact-us/dnrm-business-centre-contacts">a DNRM Business Centre</a> for assistance.</P>
									<P>Common property titles such as a community title scheme or body corporate are not available here. An alternative option is to purchase your search via one of the Department&#39;s online service providers. A list of approved online distributors is available <A href="https://www.business.qld.gov.au/industry/titles-property-construction/titles-property/online-services/online-distributors." target="_blank">here</A>.</P>
								</DIV>
								<!-- /ko -->
							</FORM>
						</lotplansearchfields>    
					</DIV>
				</DIV>
			</DIV>
		</DIV>
		<searchresults params="">
						<!-- ko if: $root.searchData().length > 0 -->
			<DIV>
				<H2>Select your property</H2>
				<DIV class="map" id="map"></DIV>
				<!-- ko if: $root.selection().length > 0 -->
				<TABLE id="results" class="table table-condensed table-hover" >
					<THEAD>
						<TR>
							<TH> Latitude </TH>
							<TH> Longitude </TH> 
							<TH><INPUT type="button" class="btn btn-success" value="Remove all" style="float:right" data-bind="click: $root.clearSelection "/></TH>
						</TR>
					</THEAD>
					<TBODY data-bind="foreach: $root.selection">
						<TR>
							<TD data-bind="text: dmsLat"></TD>
							<TD data-bind="text: dmsLng"></TD>
							<TD><INPUT type="button" class="btn btn-success" value="Remove" style="float:right" data-bind="click: $root.removeSelection "/></TD>
						</TR>
					</TBODY>
				</TABLE>
				<!-- /ko -->
			</DIV>
			<!-- /ko -->
		</searchresults>                 
</DIV>