		<DIV>             
			<DIV class="panel-group" id="search_accordian" role="tablist" aria-multiselectable="false">
				<DIV class="panel panel-default">
					<DIV class="panel-heading" id="address_heading" role="tab" aria-expanded="true" aria-controls="address_tab" href="#address_tab" data-toggle="collapse" data-parent="#search_accordian">
						<H4 class="panel-title">Search by address</H4>
					</DIV>
					<DIV class="panel-collapse collapse in" id="address_tab" role="tabpanel" aria-LABELledby="address_heading">
						<DIV class="panel-body">
							<addresssearchfields params=""></addresssearchfields>    
						</DIV>
					</DIV>
				</DIV>
				<DIV class="panel panel-default">
					<DIV class="panel-heading collapsed" id="lot_plan_heading" role="tab" aria-expanded="true" aria-controls="lot_plan_tab" href="#lot_plan_tab" data-toggle="collapse" data-parent="#search_accordian">
						<H4 class="panel-title">Search by lot on plan</H4>
					</DIV>
					<DIV class="panel-collapse collapse" id="lot_plan_tab" role="tabpanel" aria-LABELledby="lot_plan_heading">
						<DIV class="panel-body">
							<lotplansearchfields params=""></lotplansearchfields>    
						</DIV>
					</DIV>
				</DIV>
			</DIV>
			<searchresults params=""></searchresults>                 
			<HR>     
		</DIV>