body {
	padding: 0px 15px; font-family: "Lato",Helvetica,Arial,sans-serif; font-size: 16px;
}
body a {
	color: rgb(19, 87, 139);
}
.container-fluid {
	max-width: 1312px;
}
.header {
	padding: 0.75em 0px; margin-top: 32px; white-space: nowrap; background-color: rgb(246, 246, 246);
}
.header .logo img {
	width: 287px; height: 50px; padding-right: 40px; margin-left: 3.12em;
}
.header ul {
	list-style: none; padding: 0px; height: 50px;
}
.header ul li {
	margin-top: 1em; margin-right: 1em; margin-left: 0em; display: inline-block;
}
.header .search-form {
	min-width: 387px;
}
.header form {
	margin-top: 0.7em; margin-left: 0px; position: relative;
}
.header form label {
	padding-right: 16px; font-weight: normal;
}
.header form input {
	
}
.header form button {
	background: rgb(120, 186, 0); border-radius: 0px; width: 0px; color: rgb(0, 0, 0);
}
.header form button::before {
	background: inherit; color: inherit; line-height: 1; padding-right: 0px; padding-left: 0px; font-family: FontAwesome; font-size: 18px; font-style: normal; font-weight: normal; text-decoration: inherit; display: inline-block; content: "\f002"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.breadcrumbs {
	color: rgb(255, 255, 255); background-color: rgb(0, 126, 177);
}
.breadcrumbs ul {
	list-style: none; margin: 16px 0px;
}
.breadcrumbs ul li {
	padding: 8px 8px 8px 0px; font-size: 17px; display: inline-block;
}
.breadcrumbs ul li::before {
	background: inherit; color: inherit; line-height: 1; padding-right: 0.4rem; font-family: FontAwesome; font-size: 11px; font-style: normal; font-weight: normal; text-decoration: inherit; display: inline-block; content: "\f054"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.breadcrumbs ul li.nav-home {
	padding: 8px;
}
.breadcrumbs ul li.nav-home::before {
	background: inherit; color: rgb(255, 255, 255); line-height: 1.05; padding-right: 0.7rem; font-family: FontAwesome; font-size: 22px; font-style: normal; font-weight: normal; text-decoration: inherit; display: inline-block; content: "\f19c"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.breadcrumbs ul li a {
	color: rgb(255, 255, 255);
}
.breadcrumbs ul li.last-child {
	font-weight: bold;
}
.nav-section {
	padding: 0px; background-color: rgb(246, 246, 246);
}
.nav-section h2 {
	padding-left: 2.5em; font-size: 21px; font-weight: 900; margin-top: 2em; margin-bottom: 0px;
}
.nav-section ul {
	list-style: none; padding: 0px; text-align: left; margin-top: 1.2em;
}
.nav-section ul li {
	margin: 0px; padding: 0.6em 0.7em 0.7em 3.7em; position: relative;
}
.nav-section ul li::before {
	background: inherit; top: 1.4em; color: rgb(19, 87, 139); line-height: 1; padding-right: 0.5rem; font-family: FontAwesome; font-size: 11px; font-style: normal; font-weight: normal; text-decoration: inherit; display: inline-block; position: absolute; content: "\f054"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.nav-section ul li.current-page::before {
	color: rgb(255, 255, 255);
}
.nav-section ul li a {
	background: none; margin: 0px 0px 0px 1em; padding: 0px; color: rgb(19, 87, 139); font-size: 14px; font-weight: 700; display: inline-block;
}
.nav-section ul li.current-page {
	background-color: rgb(0, 126, 177);
}
.nav-section ul li.current-page a {
	color: rgb(255, 255, 255);
}
.content-section {
	margin: 0px;
}
.content-section h1 {
	font-size: 26px;
}
.content-section h2 {
	font-size: 21px;
}
.content-section h3 {
	font-size: 19px;
}
.content-section h1 {
	margin: 0.5em -0.4em 0.3em; padding: 0.5em 0.4em 0.3em; color: rgb(0, 0, 0); line-height: 1.1; letter-spacing: 0.01em; clear: left; font-family: "Lato",Helvetica,Arial,sans-serif; font-weight: 900;
}
.content-section h2 {
	margin: 0.5em -0.4em 0.3em; padding: 0.5em 0.4em 0.3em; color: rgb(0, 0, 0); line-height: 1.1; letter-spacing: 0.01em; clear: left; font-family: "Lato",Helvetica,Arial,sans-serif; font-weight: 900;
}
.content-section h3 {
	margin: 0.5em -0.4em 0.3em; padding: 0.5em 0.4em 0.3em; color: rgb(0, 0, 0); line-height: 1.1; letter-spacing: 0.01em; clear: left; font-family: "Lato",Helvetica,Arial,sans-serif; font-weight: 900;
}
.content-section h4 {
	margin: 0.5em -0.4em 0.3em; padding: 0.5em 0.4em 0.3em; color: rgb(0, 0, 0); line-height: 1.1; letter-spacing: 0.01em; clear: left; font-family: "Lato",Helvetica,Arial,sans-serif; font-weight: 900;
}
#search_accordian .panel-heading {
	padding-bottom: 28px; cursor: pointer;
}
#search_accordian .panel-heading h4 {
	margin: 0px; float: left;
}
#search_accordian .panel-heading::after {
	color: gray; font-family: "Glyphicons Halflings"; float: right; content: "\e114";
}
#search_accordian .panel-heading.collapsed::after {
	content: "\e080";
}
.social {
	padding: 28px 26px 28px 38px; color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(0, 126, 177);
}
.social p {
	margin-bottom: 0px;
}
.social .btn {
	background: rgb(0, 83, 117); padding: 0.2em 1em; border-radius: 1.5em; border: currentColor; transition:0.3s; border-image: none; text-align: center; color: rgb(255, 255, 255); font-size: 16px; margin-left: 16px; -webkit-transition: all ease 0.3s;
}
.social .btn:hover {
	background: rgb(11, 46, 76);
}
.social .btn:focus {
	background: rgb(11, 46, 76);
}
.social .sharelinks {
	text-align: right;
}
.social a:hover {
	text-decoration: none;
}
.social a:focus {
	text-decoration: none;
}
.social .facebook::before {
	background: inherit; color: white; line-height: 1; padding-right: 0px; font-family: FontAwesome; font-size: 22px; font-style: normal; font-weight: normal; text-decoration: inherit; margin-left: 16px; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.social .twitter::before {
	background: inherit; color: white; line-height: 1; padding-right: 0px; font-family: FontAwesome; font-size: 22px; font-style: normal; font-weight: normal; text-decoration: inherit; margin-left: 16px; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.social .linkedin::before {
	background: inherit; color: white; line-height: 1; padding-right: 0px; font-family: FontAwesome; font-size: 22px; font-style: normal; font-weight: normal; text-decoration: inherit; margin-left: 16px; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.social .share::before {
	background: inherit; color: white; line-height: 1; padding-right: 0px; font-family: FontAwesome; font-size: 22px; font-style: normal; font-weight: normal; text-decoration: inherit; margin-left: 16px; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.social .facebook::before {
	content: "\f09a";
}
.social .twitter::before {
	content: "\f099";
}
.social .linkedin::before {
	content: "\f0e1";
}
.social .share::before {
	content: "\f1e0";
}
.footer {
	padding: 1em 1em 2em; color: rgb(0, 0, 0); background-color: rgb(11, 46, 76);
}
.footer h3 {
	margin-top: 0px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.footer h3 a {
	margin: 0.5em 0px; width: 100%; color: rgb(255, 255, 255); font-size: 21px; font-weight: 700; display: inline-block;
}
.footer .col-md-4 ul {
	width: 50%;
}
.footer .first ul {
	margin-left: 20px;
}
.footer .first h3 {
	margin-left: 20px;
}
.footer ul {
	list-style: none; padding: 0px; float: left;
}
.footer ul li {
	margin: 0.5em 0px;
}
.footer ul li a {
	color: rgb(255, 255, 255); font-size: 13px; font-weight: 700;
}
.tail {
	padding: 1em; text-align: center; font-size: 13px; font-weight: 700;
}
.tail ul {
	list-style: none;
}
.tail ul li {
	display: inline;
}
.tail ul li a {
	padding: 0em 0.5em; color: rgb(0, 0, 0); font-size: 13px; font-weight: 700; border-left-color: rgb(0, 0, 0); border-left-width: 1px; border-left-style: solid;
}
.tail ul li.nav-contact a {
	border: currentColor; border-image: none;
}
.twitter-typeahead {
	display: block !important;
}
.tt-query {
	border-radius: 8px; border: 2px solid rgb(204, 204, 204); border-image: none; line-height: 30px; cursor: pointer;
}
.tt-hint {
	border-radius: 8px; border: 2px solid rgb(204, 204, 204); border-image: none; line-height: 30px; cursor: pointer;
}
.tt-query {
	
}
.tt-hint {
	left: -1px !important; color: rgb(153, 153, 153);
}
.tt-menu {
	border-radius: 8px; border: 1px solid rgba(0, 0, 0, 0.2); border-image: none; font-size: 14px; box-shadow: 0px 5px 10px rgba(0,0,0,0.2); background-color: rgb(255, 255, 255);
}
.tt-suggestion {
	padding: 6px 12px; line-height: 24px; cursor: pointer;
}
.tt-suggestion.tt-selectable:hover {
	color: rgb(255, 255, 255); background-color: rgb(0, 151, 207);
}
.tt-suggestion p {
	margin: 0px;
}
#map {
	width: 100%; height: 320px;
}
.asides {
	background: rgb(242, 247, 249); padding-top: 1em;
}
.asides .panel {
	background: none; border-bottom-color: rgb(225, 236, 241); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: none; -webkit-box-shadow: none;
}
.asides .panel-heading .glyphicon {
	color: rgb(120, 186, 0); font-size: 160%;
}
.asides .panel .btn .glyphicon {
	color: rgb(51, 51, 51);
}
.asides .section-title {
	font-size: 115%; font-weight: normal; margin-left: 3px; vertical-align: text-bottom; display: inline-block;
}
.products-table th {
	color: rgb(255, 255, 255); vertical-align: top; background-color: rgb(0, 126, 177);
}
.products-table th.col1 {
	width: 250px;
}
.products-table td {
	border-top-color: currentColor !important; border-top-width: medium !important; border-top-style: none !important;
}
.products-table .sectionHeader {
	color: rgb(136, 136, 136);
}
.products-table .alt {
	background-color: rgb(238, 238, 238);
}
.products-table .sampleLink {
	font-size: smaller;
}
.products-table .disabled-row {
	color: rgb(170, 170, 170); background-color: rgb(238, 238, 238);
}
#results tbody td {
	cursor: pointer;
}
.col-md-12 > h1 {
	display: none;
}
.alert-info a {
	font-weight: bold;
}
@media print
{
#components {
	margin: 0px; padding: 15px; left: 0px; top: 0px; width: 100%; height: 100%; line-height: 18px; font-size: 14px; position: fixed; background-color: white;
}
.asides {
	display: none;
}
.footer {
	display: none;
}
.social {
	display: none;
}
.header {
	display: none;
}
.breadcrumbs {
	display: none;
}
.nav-section {
	display: none;
}
.tail {
	display: none;
}
.finishactions {
	display: none;
}
}
